@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@font-face {
    font-family: 'JetBrainsMono-Italic';
    src: url('../fonts/JetBrainsMono.ttf');
}

:root {
    /* Цветовая палитра */
    --color-primary: #FF6600;      /* Оранжевый акцент */
    --color-bg: #FFFFFF;           /* Основной фон */
    --color-bg-alt: #E8E8E8;       /* Фон hero секции */
    --color-text-main: #000000;    /* Основной текст */
    --color-text-muted: #666666;   /* Второстепенный текст */
    --color-placeholder: #D9D9D9;  /* Цвет заглушек для фото */
    --color-dark: #2B2B2B;         /* Темные элементы (кнопки, плашки) */
    --color-border: #E0E0E0;
    /*--color-bg: #;*/

    /* Шрифты */
    --font-main: 'JetBrainsMono-Italic','Inter', sans-serif;

    /* Отступы */
    --container-width: 1400px;
    --container-padding: 80px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-main);
    color: var(--color-text-main);
    background-color: var(--color-bg);
    line-height: 1.5;
}

main{
    position: relative;
}

h3{
    font-weight: 100;
}




a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

button {
    cursor: pointer;
    font-family: inherit;
    border: none;
    background: none;
}

.container {
    /*max-width: var(--container-width);*/
    margin: 0 auto;
    padding: 0 var(--container-padding);
}

/* Общие компоненты */
.btn {
    padding: 20px 40px;
    /*font-weight: 500;*/
    /*border-radius: 4px;*/
    transition: opacity 0.2s ease;
}

.btn:hover {
    opacity: 0.8;
}

.btn--header{
    font-size: 16px;
    background-color: var(--color-primary);
    color: white;
    padding: 10px 16px;
    display: flex;
    gap: 10px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
}

.btn--primary {
    background-color: var(--color-primary);
    color: white;
    font-size: 24px;
    font-weight: 300;
}

.btn--outline {
    font-size: 24px;
    font-weight: 300;
    background-color: transparent;
    border: 1px solid var(--color-text-main);
    color: var(--color-text-main);
}

.btn--small {
    padding: 8px 16px;
    font-size: 14px;
}

.wishlist-btn {
    /*position: absolute;*/
    /*top: 15px;*/
    /*right: 15px;*/
    background: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

/* Анимация для сердечка */
.wishlist-btn {
    transition: all 0.2s ease;
    cursor: pointer;
    color: #999; /* Серый цвет по умолчанию */
}

/* Состояние, когда товар в избранном (красное закрашенное сердце) */
.wishlist-btn.active {
    color: #e74c3c;
}

/* Анимация для кнопки корзины */
.add-to-cart-btn {
    transition: background-color 0.3s ease;
}

/* Состояние, когда товар успешно добавлен */
.add-to-cart-btn.added {
    background-color: #4c4c4c !important; /* Зеленый цвет успеха */
    color: white;
}







.section-title {
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    /*margin: 60px 0 40px;*/
    text-transform: uppercase;
}

.section-title--left {
    text-align: left;
}

.tag, .tag-small {
    background-color: var(--color-dark);
    color: white;
    padding: 6px 16px;
    border-radius: 20px;
    font-size: 14px;
    display: inline-block;
}

.tag-small {
    background-color: #A0A0A0; /* Более светлый серый для мелких тегов */
    padding: 4px 10px;
    font-size: 12px;
}




























.lines{
    position: relative;
}

.line-left{
    position: absolute;
    left: 40px;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 1px;
    background: var(--color-border);
    z-index: -10000;
}

.line-right{
    position: absolute;
    right: 40px;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 1px;
    background: var(--color-border);
    z-index: -10000;
}
.line-top{
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 1px;
    background: var(--color-border);
    z-index: -10000;
}
.line-bot{
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: var(--color-border);
    z-index: -10000;
}

.plus-left{
    position: absolute;
    /*right: 0;*/
    left: 35px;
    top: -5px;
    /*width: 100%;*/
    /*height: 1px;*/
    z-index: -9999;
    /*width: 11px;*/
    /*height: 11px;*/
}

.plus-right{
    position: absolute;
    /*right: 0;*/
    right: 35px;
    top: -5px;
    /*width: 100%;*/
    /*height: 1px;*/
    z-index: -9999;
    /*width: 11px;*/
    /*height: 11px;*/
}

.plus-bot-right{
    position: absolute;
    /*right: 0;*/
    right: 35px;
    bottom: -5px;
    /*width: 100%;*/
    /*height: 1px;*/
    z-index: -9999;
    /*width: 11px;*/
    /*height: 11px;*/
}

.plus-bot-left{
    position: absolute;
    /*right: 0;*/
    left: 35px;
    bottom: -5px;
    /*width: 100%;*/
    /*height: 1px;*/
    z-index: -9999;
    /*width: 11px;*/
    /*height: 11px;*/
}